.hero-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  margin-left: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.div-block {
  width: 940px;
  min-height: 100px;
}

.title {
  margin-top: 156px;
  padding-top: 86px;
  color: #000;
}

.einleitung {
  margin-top: 107px;
  margin-bottom: 147px;
  color: #000;
}

.subtitle {
  color: #fff;
}

.height-2800vh-section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2800vh;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 60px none rgba(0, 0, 0, 0.09);
  background-color: #fff;
}

.height-2800vh-section._2 {
  height: 1500vh;
}

.div-block-2 {
  width: 100px;
  height: 100px;
}

.sticky-div {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.52);
}

.sticky-div.droneprime {
  width: 100%;
}

.hintergrund {
  position: absolute;
  display: block;
  width: 500vh;
  height: 100%;
  background-image: url('../images/01_Szene_Stephansplatz_Hintergrund.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.hintergrund._1 {
  background-image: url('../images/06_Umgebung.svg');
  background-size: 960px 100%;
}

.hintergrund._2 {
  background-image: url('../images/01_Szene_Stephansplatz_Wolken.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.hintergrund._3 {
  background-image: url('../images/01_Szene_Stephansplatz_Mittelgrund-Gebäude.svg');
  background-size: cover;
}

.hintergrund._4 {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Menschen1.svg');
  background-size: cover;
}

.hintergrund._5 {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Autosseitlich-Uber.svg');
  background-size: cover;
}

.hintergrund._6 {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Menschen2.svg');
  background-size: cover;
}

.hintergrund._7 {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Auto-seitlich-fährt-nach-links.svg');
  background-size: cover;
}

.hintergrund._11 {
  position: relative;
  width: 500vh;
  height: 100%;
  background-image: url('../images/02_00_Hintergrund.svg');
  background-position: 50% 50%;
  background-size: 1920px 110%;
  background-attachment: scroll;
}

.hintergrund._12 {
  position: absolute;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  width: 500vh;
  background-image: url('../images/02_01_Uber1.svg');
  background-position: 50% 50%;
  background-size: 1920px 1080px;
}

.hintergrund._13 {
  background-image: url('../images/02_05_Mensch.svg');
  background-size: 1920px 100%;
}

.hintergrund._8 {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Autos-links-hinten.svg');
  background-size: cover;
  -webkit-perspective: 0px;
  perspective: 0px;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.hintergrund._9 {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Autos-rechts-hinten.svg');
  background-size: cover;
}

.hintergrund._8a {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Autos-links-Mitte.svg');
  background-size: cover;
}

.hintergrund._9a {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Autos-rechts-Mitte.svg');
  background-size: cover;
}

.hintergrund._8b {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Autos-links-Vorne.svg');
  background-size: cover;
}

.hintergrund._9b {
  background-image: url('../images/01_Szene_Stephansplatz_Vordergrund-Autos-rechts-Vorne.svg');
  background-size: cover;
}

.hintergrund._14 {
  background-image: url('../images/02_03_Uber3.svg');
  background-size: 1920px 100%;
}

.hintergrund._15 {
  background-image: url('../images/02_04_Uber4.svg');
  background-size: 1920px 100%;
}

.hintergrund.m {
  background-image: url('../images/02_02_Uber2.svg');
  background-size: 1920px 100%;
}

.hintergrund.elevator {
  position: absolute;
  display: block;
  width: 500vh;
  height: 100%;
  max-width: none;
  background-image: url('../images/03_00_Hintergrund_1.svg');
  background-size: contain;
}

.hintergrund.food {
  width: 500vh;
  background-image: url('../images/06_00_Hintergrund.svg');
  background-size: 1920px 110%;
}

.hintergrund.icons {
  height: 110%;
  background-image: url('../images/06_01_Essen_hintergrund.svg');
  background-size: 1920px 100%;
}

.hintergrund.icon1 {
  height: 110%;
  background-image: url('../images/06_02_Essen_vordergrund.svg');
  background-size: 1920px 100%;
}

.hintergrund.lounge {
  background-image: url('../images/04_00_Hintergrund.svg');
  background-size: 1920px 110%;
}

.hintergrund.plant {
  background-image: url('../images/04_03_Pflanze_fixe_position.svg');
  background-size: 1920px 110%;
}

.hintergrund.menschen-p1 {
  background-image: url('../images/04_01_Mensch01.svg');
  background-size: 1920px 110%;
}

.hintergrund.menschenp2 {
  background-image: url('../images/04_02_Mensch02.svg');
  background-size: 1920px 110%;
}

.hintergrund.roomp {
  background-image: url('../images/07_00_prime_wohnung.svg');
  background-size: 1920px 110%;
}

.hintergrund.dronep {
  height: 100%;
  background-image: url('../images/Szene8_Drohne-vor-Tower-Hintergrund.svg');
  background-position: 50% 100%;
  background-size: 2800px 120%;
}

.hintergrund.wolkenp {
  background-image: url('../images/Szene8_Drohne-vor-Tower_Wolken.svg');
  background-position: 50% 100%;
  background-size: 2800px 110%;
}

.hintergrund.towerp {
  background-image: url('../images/Szene8_Drohne-vor-Tower_Tower.svg');
  background-position: 50% 100%;
  background-size: 2800px 110%;
}

.hintergrund.dronepp {
  background-image: url('../images/Szene8_Drohne-vor-Tower_Drohne.svg');
  background-position: 50% 100%;
  background-size: 2800px 110%;
}

.hintergrund.communityhouse {
  width: 100%;
  height: 3000px;
  background-image: url('../images/09_szene_Crowd-living_Hintergrund.svg');
  background-size: 100% 3000px;
}

.hintergrund.communityhouse.drone {
  background-image: url('../images/Szene8_Drohne-vor-Tower_Drohne.svg');
  background-size: 1753px 3000px;
}

.hintergrund.communityhouse.giessen {
  background-image: url('../images/09_szene_Crowd-living_Vordergrund-Frau-mit-Gießkanne.svg');
  background-position: 50% 100%;
}

.hintergrund.communityhouse.fraucom {
  background-image: url('../images/09_szene_Crowd-living_Vordergrund-Frau-mit-Gießkanne.svg');
  background-position: 0% 100%;
  background-size: 100% 3000px;
}

.hintergrund.communityhouse.mooooon {
  background-image: url('../images/21_Szene-Stadt-mit-Mond_Hintergrund.svg');
  background-size: 1060px 3000px;
}

.hintergrund.communityhouse.horizon {
  background-image: url('../images/21_Szene-Stadt-mit-Mond_Horizont.svg');
  background-size: 1060px 3000px;
}

.hintergrund.communityhouse.weiter {
  background-image: url('../images/21_Szene-Stadt-mit-Mond_Wolken-1.svg');
  background-size: 1060px 3000px;
}

.hintergrund.communityhouse.weiter2 {
  background-image: url('../images/21_Szene-Stadt-mit-Mond_Wolken-2.svg');
  background-size: 1060px 3000px;
}

.hintergrund.communityhouse.weiter3 {
  background-image: url('../images/21_Szene-Stadt-mit-Mond_Stadt.svg');
  background-size: 1060px 3000px;
}

.hintergrund.communityhouse.vordergrund {
  background-image: url('../images/21_Szene-Stadt-mit-Mond_Gebäude-Vordergrund.svg');
  background-size: cover;
}

.hintergrund.communityhouse.liftszenchen {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100vw;
  height: 800vh;
  background-color: #ab9797;
  background-image: url('../images/03_00_Hintergrund_1.svg');
  background-position: 0px 0px;
  background-size: contain;
}

.hintergrund.communityhouse.liftliftl {
  height: 5900px;
  background-image: url('../images/03b_02_Vordergrund.svg');
  background-size: 1920px 5900px;
}

.hintergrund.communityhouse.liftkabine {
  height: 5900px;
  background-image: url('../images/03b_01_Mittelgrund.svg');
  background-size: 1920px 5900px;
}

.hintergrund.giessen {
  width: 100%;
  height: 3000px;
  background-image: url('../images/09_szene_Crowd-living_Vordergrund-Frau-mit-Gießkanne.svg');
  background-size: 100% 3000px;
}

.hintergrund.lifthg {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3000px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-image: url('../images/03_00_Hintergrund_1.svg');
  background-position: 50% 100%;
  background-size: 100% 3000px;
}

.hintergrund.lifthg._1 {
  height: 3000px;
  background-image: url('../images/03b_00_Hintergrund.svg');
  background-position: 50% 100%;
  background-size: 100% 3000px;
}

.hintergrund.lifthg._2 {
  background-image: url('../images/03a_00_Hintergrund.svg');
  background-position: 50% 0%;
  background-size: 100% 3000px;
}

.hintergrund.liftkabine {
  width: 100%;
  height: 3000px;
  background-image: url('../images/03b_02_Vordergrund.svg');
  background-position: 50% 100%;
  background-size: 100% 3000px;
}

.hintergrund.liftkabine.beton {
  background-image: url('../images/03b_01_Mittelgrund.svg');
  background-size: 100% 3000px;
}

.hintergrund.handycom {
  width: 500vh;
  background-image: url('../images/10_Szene_Handy-Community-Hintergrund.svg');
  background-size: 1920px 130%;
}

.hintergrund.handycom._1 {
  background-image: url('../images/10_Szene_Handy-Community_Nachricht1.svg');
  background-size: 1920px 130%;
}

.hintergrund.handycom._2 {
  background-image: url('../images/10_Szene_Handy-Community_Nachricht2.svg');
  background-size: 1920px 130%;
}

.hintergrund.handycom._3 {
  background-image: url('../images/10_Szene_Handy-Community_Nachricht3.svg');
  background-size: 1920px 130%;
}

.hintergrund.comm-eg-hg {
  background-image: url('../images/09_szene_Crowd-living_Hintergrund.svg');
  background-position: 0% 90%;
  background-size: 100% 370%;
}

.hintergrund.comm-eg-hg._1 {
  background-image: url('../images/09_szene_Crowd-living_Vordergrund-Frau-mit-Gießkanne.svg');
  background-size: 100% 370%;
}

.hintergrund.comm-eg-hg._2 {
  height: 100%;
  background-image: url('../images/09_szene_Crowd-living_Uber-und-Bus.svg');
  background-position: 50% 100%;
}

.hintergrund.grtelcom-hg {
  background-image: url('../images/11_Szene-Grütel-Axo_Hintergrund.svg');
  background-size: 1920% 130%;
}

.hintergrund.grtel-hoch {
  background-image: url('../images/11_Szene-Grütel-Axo_Autos-hinten-Mittelgrund1.svg');
  background-size: 1920px 130%;
}

.hintergrund.grtel-hoch2 {
  background-image: url('../images/11_Szene-Grütel-Axo_Hochbahn-Mittelgrund2.svg');
  background-size: 3000px 130%;
}

.hintergrund.grtl-nieder {
  width: 500vh;
  background-image: url('../images/11_Szene-Grütel-Axo_Autos-vorne-Vordergrund1.svg');
  background-size: 3000px 130%;
}

.hintergrund.grtl-nieder2 {
  background-image: url('../images/11_Szene-Grütel-Axo_Autos-vorne_einzelnes-Auto-Vordergrund2.svg');
  background-size: 1920px 130%;
}

.hintergrund.grtl-x {
  background-image: url('../images/11_Szene-Grütel-Axo_Lärmschutzwände-vorne-Vordergrund3.svg');
  background-size: 1920px 130%;
}

.hintergrund.tunneldown {
  width: 100%;
  height: 3000px;
  background-image: url('../images/12a-neu_Szene-Tunnel_Hintergrund.svg');
  background-position: 50% 100%;
  background-size: 100% 3000px;
}

.hintergrund.tunneldown.uber {
  background-image: url('../images/12a_Szene-Tunnel_Auto.svg');
  background-size: 100% 3000px;
}

.hintergrund.rausauswien {
  background-image: url('../images/12b-neu_Szene-Tunnel_Schräg_Hintergrund.svg');
  background-size: 100% 170%;
}

.hintergrund.rausauswien._1 {
  width: 500vh;
  height: 100%;
  background-image: url('../images/12b_Szene-Tunnel_Schräg_Autos-Spur-1-hinten.svg');
  background-size: 100% 150%;
}

.hintergrund.rausauswien._2 {
  background-image: url('../images/12b_Szene-Tunnel_Schräg_Autos-Spur-2und3-vorne.svg');
  background-size: 100% 150%;
}

.hintergrund.socialstreet {
  background-image: url('../images/13_00_Hintergrund.svg');
  background-size: 1920px 110%;
}

.hintergrund.socialstreet.cars {
  background-image: url('../images/13_03_Autos02.svg');
  background-position: 50% 50%;
  background-size: 1920px 110%;
}

.hintergrund.socialstreet.carss {
  background-image: url('../images/13_02_Autos01.svg');
  background-size: 1920px 110%;
}

.hintergrund.socialstreet.peeps {
  left: -1317.18px;
}

.hintergrund.socialstreet.bus {
  background-image: url('../images/13_05_Bus.svg');
  background-size: 1920px 110%;
}

.hintergrund.socialstreet.peepss {
  background-image: url('../images/13_04_Vordergrund.svg');
  background-size: 1920px 110%;
}

.hintergrund.socialstreet.horde {
  background-image: url('../images/13_06_Menschen.svg');
  background-size: 1920px 110%;
}

.hintergrund.keller {
  background-image: url('../images/14_00_Hintergrund.svg');
  background-size: 1920px 110%;
}

.hintergrund.kellerauto {
  background-image: url('../images/14_01_lieferwagen.svg');
  background-size: 1920px 110%;
}

.hintergrund.kellerauto._1 {
  -webkit-transform: translate(-267px, -71px);
  -ms-transform: translate(-267px, -71px);
  transform: translate(-267px, -71px);
}

.hintergrund.kellerzoom {
  background-image: url('../images/15_00_Hintergrund01.svg');
  background-position: 50% 100%;
  background-size: 1920% 110%;
}

.hintergrund.kellerzoom.app {
  width: 100%;
  height: 100%;
  background-image: url('../images/05a_00_display.svg');
  background-position: 50% 50%;
  background-size: 110% 1080px;
}

.hintergrund.kellerzoom.app.cover {
  background-image: url('../images/05a_01_vordergrund.svg');
  background-size: 1920px 100%;
}

.hintergrund.autokeller {
  background-image: url('../images/15_02_prime_lieferwagen.svg');
  background-position: 50% 100%;
  background-size: 1920px 110%;
}

.hintergrund.menschkeller {
  background-image: url('../images/15_01_Menschen_mit_Paket.svg');
  background-size: 1920px 110%;
}

.hintergrund.flurlicht {
  background-image: url('../images/16_00_social_gang.svg');
  background-size: 1920px 120%;
}

.hintergrund.flatfam {
  background-image: url('../images/17_00_Hintergrund.svg');
  background-size: 1920% 110%;
}

.hintergrund.flatfam.primebild {
  background-image: url('../images/05_01_Vordergrund.svg');
  background-size: 1920px 110%;
}

.hintergrund.flatroomfam {
  width: 500vh;
  background-image: url('../images/17_02_Vordergrund.svg');
  background-position: 50% 50%;
  background-size: 1920px 110%;
}

.hintergrund.flatschatten {
  background-image: url('../images/17_01_Schatten_Menschen.svg');
  background-size: 1920px 110%;
}

.hintergrund.radlfam {
  background-image: url('../images/17_03_Fahrradfahrer.svg');
  background-position: 50% 100%;
  background-size: 3000px 110%;
}

.hintergrund.radlfam.handyhg {
  height: 110%;
  background-image: url('../images/05_01_display.svg');
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.hintergrund.zimmercom {
  background-image: url('../images/8a_Community-Zimmer_Hintergrund.svg');
  background-size: 1920px 130%;
}

.hintergrund.zimmerdrohne {
  background-image: url('../images/Szene8_Drohne-vor-Tower_Drohne.svg');
  background-size: 1920px 70%;
}

.hintergrund.zimmerdeckel {
  background-image: url('../images/8a_Community-Zimmer_Vordergrund-Überdeckung.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfhousing {
  background-image: url('../images/18_Szene-Self-Außen_Hintergrund-ohne-Wolken.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfhousing.x1 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  background-image: url('../images/18_Szene-Self-Außen_Hintergrund-ohne-Wolken.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfhousing.birdcrash {
  background-position: 50% 0%;
}

.hintergrund.selfhousing.birdies {
  background-image: url('../images/18_Szene-Self-Außen_Gebäude.svg');
  background-position: 100% 30%;
  background-size: cover;
}

.hintergrund.selfhousing.lastan {
  background-image: url('../images/21_Szene-Stadt-mit-Mond_Hintergrund.svg');
  background-size: 1920px 110%;
}

.hintergrund.selfhousing.abschluss {
  background-image: url('../images/21_Szene-Stadt-mit-Mond_Horizont.svg');
  background-size: 1920px 110%;
}

.hintergrund.selfhousing.selfeat {
  height: 100%;
  background-image: url('../images/20_Szene-Self-Innen_Hintergrund_neu.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfhousing.selfvogeleat {
  background-image: url('../images/20_Szene-Self-Innen_Vordergrund-1-Hendlkeule.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfhousing.selftisch {
  background-image: url('../images/20_Szene-Self-Innen_Vordergrund-2-Tisch.svg');
  background-size: 19200px 130%;
}

.hintergrund.selfhousing.crashhh {
  background-image: url('../images/Vogel_happy.svg');
  background-size: 1920px 70%;
}

.hintergrund.selfhousing.boom {
  background-image: url('../images/Boom.svg');
  background-size: 1920px 100%;
}

.hintergrund.selfhouses {
  background-image: url('../images/18_Szene-Self-Außen_Radfahrer.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfgeb {
  background-image: url('../images/18_Szene-Self-Außen_Gebäude.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfgeb.x3 {
  background-image: url('../images/18_Szene-Self-Außen_Vordergrund_Gerüst-Boden.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfgeb.x4 {
  background-image: url('../images/18_Szene-Self-Außen_Vordergrund_Gerüst-seitliche-Wand.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfgeb.x5 {
  background-image: url('../images/18_Szene-Self-Außen_Vordergrund_Gerüst-gerader-teil-mit-fenster.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfgeb.cover {
  background-image: url('../images/18_Szene-Self-Außen_Vordergrund_Gerüst-ganz-vorne.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfgeb.jubel {
  background-image: url('../images/18_Szene-Self-Außen_Menschen-Vodergrund.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfgeb.jubelhoch {
  background-image: url('../images/18_Szene-Self-Außen_Menschen-hüpfend.svg');
  background-size: 1920px 130%;
}

.hintergrund.selfflow {
  background-image: url('../images/18_Szene-Self-Außen_Vordergrund_Gerüst-seitliche-Wand.svg');
  background-size: 1060px 150%;
}

.hintergrund.rob {
  background-image: url('../images/19_Szene_Building-Lab_Hintergrund.svg');
  background-size: 2020px 150%;
}

.hintergrund.buildinglab {
  background-image: url('../images/19_Szene_Building-Lab_Hintergrund.svg');
  background-position: 50% 50%;
  background-size: cover;
}

.hintergrund.laser {
  background-image: url('../images/19_Szene_Building-Lab_Voerdergrund-Laser-links.svg');
  background-size: cover;
}

.hintergrund.cnc {
  background-image: url('../images/19_Szene_Building-Lab_Voerdergrund-CNC-rechts.svg');
  background-size: cover;
}

.hintergrund.deckelcnc {
  background-image: url('../images/19_Szene_Building-Lab_Voerdergrund-Überdeckung-Maschinen.svg');
  background-size: cover;
}

.hintergrund.primemobb {
  background-image: url('../images/05a_00_display.svg');
  background-size: contain;
}

.hintergrund.primemobb.pre {
  background-image: url('../images/05_01_Vordergrund.svg');
}

.hintergrund.appi {
  background-image: url('../images/05_01_Vordergrund.svg');
  background-size: contain;
}

.hintergrund.mobileprime {
  background-image: url('../images/05_01_Vordergrund.svg');
}

.hintergrund.lol {
  background-image: url('../images/05a_01_vordergrund.svg');
}

.hintergrund.primeeatwhat {
  background-image: url('../images/05a_01_vordergrund.svg');
  background-size: 100% 110%;
}

.hintergrund.eatprimie {
  width: 100%;
  height: 2000px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-image: url('../images/05a_00_display.svg');
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.hintergrund.vogelbooom {
  width: 50%;
  background-image: url('../images/Boom01.svg');
  background-position: 25% 50%;
  background-size: 1920px 100%;
}

.hintergrund.vogel1 {
  width: 50%;
  height: 50%;
  background-image: url('../images/Vogel_down01.svg');
  background-position: 50% 50%;
  background-size: 1920px 100%;
}

.hintergrund.vogel2 {
  height: 50%;
  background-image: url('../images/Vogel_happy01.svg');
  background-size: 1920px 100%;
}

.hintergrund.federn {
  height: 50%;
  background-image: url('../images/Federn.svg');
  background-size: 1920px 100%;
}

.hintergrund.dronecrash {
  height: 50%;
  background-image: url('../images/Szene8_Drohne-vor-Tower_Drohne.svg');
  background-size: 1920px 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: 0px;
  perspective: 0px;
}

.hintergrund.part01 {
  background-image: url('../images/18_Szene-Self-Außen_Vordergrund_Gerüst-seitliche-Wand.svg');
  background-size: 1920px 130%;
}

.hintergrund.part00 {
  background-image: url('../images/18_Szene-Self-Außen_Vordergrund_Gerüst-gerader-teil-mit-fenster.svg');
  background-size: 1920px 130%;
}

.hintergrund.part02 {
  background-image: url('../images/18_Szene-Self-Außen_Vordergrund_Gerüst-seitliche-Wand.svg');
  background-size: 1920px 130%;
}

.hintergrund.partvorne {
  background-image: url('../images/18_Szene-Self-Außen_Vordergrund_Gerüst-ganz-vorne.svg');
  background-size: 1920px 130%;
}

.hintergrund.giesserei {
  background-image: url('../images/9b_Szene-Gießen-Community_Hintergrund.svg');
  background-size: 1920px 130%;
}

.hintergrund.trpfchen {
  background-image: url('../images/9b_Szene-Gießen-Community_Wasser.svg');
  background-size: 1920px 130%;
}

.hintergrund.drohne {
  height: 25%;
  background-image: url('../images/Szene8_Drohne-vor-Tower_Drohne.svg');
  background-size: 1753px 100%;
}

.hintergrund.drohne._2 {
  height: 15%;
}

.hintergrund.aufzugskabinett {
  width: 100%;
  height: 4000px;
  background-image: url('../images/03_00_Hintergrund_1.svg');
  background-position: 50% 100%;
  background-size: 100% 4000px;
}

.hintergrund.aufzugskabinett.lifti {
  height: 4000px;
  background-image: url('../images/03b_02_Vordergrund.svg');
  background-size: 100% 4000px;
}

.hintergrund.aufzugskabinett.anker {
  height: 4000px;
  background-image: url('../images/03b_01_Mittelgrund.svg');
  background-size: 100% 4000px;
}

.hintergrund.aufzugskabinett.number2 {
  height: 5000px;
  background-image: url('../images/03a_00_Hintergrund.svg');
  background-size: 100% 5000px;
}

.hintergrund.aufzugskabinett.numberr3 {
  height: 5000px;
  background-image: url('../images/03b_00_Hintergrund.svg');
  background-size: 100% 5000px;
}

.overflow-hidden-mask {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.width-2800vh-scrolling {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2800vh;
  height: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.uber {
  position: static;
  top: 74px;
  display: block;
  width: 300px;
  height: 450px;
  margin-right: 40px;
  margin-left: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-image: url('../images/07_Uber.svg');
  background-position: 50% 50%;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1451px;
  perspective: 1451px;
  -webkit-transform: perspective(0px);
  transform: perspective(0px);
}

.uber._1 {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.uber._2 {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.uber._0 {
  -webkit-transform: translate(190px, 0px) perspective(0px);
  transform: translate(190px, 0px) perspective(0px);
}

.sub-section-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 1500vh;
  min-height: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sub-section-2._2 {
  width: 100%;
  height: 500vh;
  margin-top: auto;
  margin-right: 0px;
  margin-bottom: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sub-section-2.liftszene {
  width: auto;
  height: 1500vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.sub-section-2.liftszene._1 {
  margin-top: auto;
  margin-right: 0px;
  margin-bottom: auto;
}

.sub-section-2.selfbuilt {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.sub-section-2.innenself {
  height: 500vh;
}

.sticky-div-3 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.sticky-div-3._3 {
  bottom: 0px;
  height: 100vh;
}

.sticky-div-3.liftscroll {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.sticky-div-3.liftlscroll {
  left: auto;
  width: 100%;
  height: 100%;
}

.div-block-4 {
  position: -webkit-sticky;
  position: sticky;
  width: 100vw;
  height: 800vh;
  background-image: url('../images/03_00_Hintergrund.svg');
  background-position: 0px 0px;
  background-size: 100vw 800vh;
  background-repeat: no-repeat;
}

.div-block-5 {
  width: 500vh;
  height: 100%;
}

.image {
  height: 700vh;
}

.body {
  display: block;
  overflow: visible;
}

.embedding {
  position: static;
  left: 0%;
  top: auto;
  right: 100%;
  bottom: auto;
  z-index: 1;
  display: block;
  overflow: visible;
  width: 100vw;
  height: 100vh;
  max-width: none;
  min-width: auto;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

#w-node-0bf61c4f67bb-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-027be5548152-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-b07868aad907-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-49a92c198609-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-50b712ccfea8-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}

#w-node-8aef0af74401-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-562d6f25a297-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}

#w-node-c5894df26f4d-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-2833d4cfe650-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 5;
  grid-row-start: 5;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
}

#w-node-1b583036d21d-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-725cbbf2885e-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
  grid-row-start: 6;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
}

#w-node-62e20308a373-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-562d85f02501-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 7;
  grid-row-start: 7;
  -ms-grid-row-span: 1;
  grid-row-end: 8;
}

#w-node-2661ed6a9d91-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-a7b56366447e-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 8;
  grid-row-start: 8;
  -ms-grid-row-span: 1;
  grid-row-end: 9;
}

#w-node-46d7363874b4-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-9a1273ba85e7-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 9;
  grid-row-start: 9;
  -ms-grid-row-span: 1;
  grid-row-end: 10;
}

#w-node-ea5e5e70b0d2-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-257986b998e1-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 10;
  grid-row-start: 10;
  -ms-grid-row-span: 1;
  grid-row-end: 11;
}

#w-node-420f486a071f-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-5b10cb9ca545-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 11;
  grid-row-start: 11;
  -ms-grid-row-span: 1;
  grid-row-end: 12;
}

#w-node-9299d28e1487-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 12;
  grid-row-start: 12;
  -ms-grid-row-span: 1;
  grid-row-end: 13;
}

#w-node-803db03ef40c-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 12;
  grid-row-start: 12;
  -ms-grid-row-span: 1;
  grid-row-end: 13;
}

#w-node-439a70c86ec0-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 1;
  grid-row-end: 14;
}

#w-node-f0607c7eb8e0-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 13;
  grid-row-start: 13;
  -ms-grid-row-span: 1;
  grid-row-end: 14;
}

#w-node-b7644831cc19-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-6699277762d7-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 14;
  grid-row-start: 14;
  -ms-grid-row-span: 1;
  grid-row-end: 15;
}

#w-node-04adfe39469a-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

#w-node-75e6088d7371-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 15;
  grid-row-start: 15;
  -ms-grid-row-span: 1;
  grid-row-end: 16;
}

#w-node-09e6e62138c0-ceb14e36 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 16;
  grid-row-start: 16;
  -ms-grid-row-span: 1;
  grid-row-end: 17;
}

#w-node-b765820509c8-ceb14e36 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 16;
  grid-row-start: 16;
  -ms-grid-row-span: 1;
  grid-row-end: 17;
}